

<h1>Stupid Coaching</h1>


<%= link_to "Ask questions", ask_path%>

<figure>
  <blockquote class=“blockquote”>
    <p><strong><%=@question%></p>
  </blockquote>
  <blockquote class=“blockquote-footer”>
  -You
  </blockquote>
</figure class=“bg-warning”>
  <blockquote class=“blockquote”>
    <p><%=@answer%></p>
  </blockquote>
</figure>
  <blockquote class=“blockquote-footer”>
  -Your coach
  </blockquote>
